* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Paytone+One&display=swap');

  
  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  header {
    background-image: url(../assets/imgs/Treino-Aberto.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -1200px;
    /* max-width: 900px; */
    background-color: #08080877;
   background-blend-mode: multiply;
  
  }
  
  img {
    margin-top: 20px;
    width: 110px;
  }
  
  section,
  footer {
    /* padding: 54px 0; */
    color: rgb(0, 0, 0);
    padding: 190px;
    /* animation-duration: 3s;
     animation-name: slidein; */
    font-weight: bold;
    /* animation-iteration-count: infinite; */
  }
  
  h3 {
    font-size: 50px;
  }
  
  p {
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul a {
    color: rgb(255, 255, 255);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    animation-duration: 2s;
    animation-name: slidedesc;
    font-family: 'BR Segma', sans-serif;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 2);
  }
  
  nav ul a::after {
    content: '';
    background-color: rgb(241, 240, 240);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
  }
  
  nav ul a:hover::after {
    width: 100%;
  }
  
  .btn {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
  }
  
  .btn.animate-btn {
    animation: animate-outline 1s ease-in-out infinite;
  }
  
  @keyframes animate-outline {
    from {
      outline: 0px solid white;
    }
  
    to {
      outline: 15px solid black;
    }
  }
  

  @keyframes slidedesc {
    from {
        margin-top: -100%; /* Começa fora da tela acima */
        opacity: 0; /* Invisível no início */
    }

    to {
        margin-top: 0; /* Termina na posição normal */
        opacity: 1; /* Totalmente visível */
    }
}
  .banner {
    display: flex;
    justify-content: center;
  }
  
  .banner .banner-text {
    /* margin: 150px; */
    text-align: center;
    padding: 0 90px;
    /* margin-bottom: 50px; */
  }
  
  .banner .banner-text h1 {
    font-size: 96px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-right: 800px;
    margin-bottom: 20px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 2);
    text-align: initial;
  }
  
  .banner .banner-text p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-top: 18px 0;
    /* font-weight: bold; */
    margin-right: 800px;
    font-family: 'BR Segma', sans-serif;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 2);
    text-align: initial;
  }

  .faca-mais .container {
    display: flex;
    align-items: center;
  }
  
  .faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 40px;
  }
  
  .faca-mais .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
  }
  
  .faca-mais .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    text-align: justify;
    font-family: 'BR Segma', sans-serif;
  
  }
  
  .faca-mais .faca-mais-img {
    width: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.8);
   transform: rotateY(15deg) rotateX(10deg);
    transition: transform 0.3s;
  }

  .faca-mais .faca-mais-img:hover{
    transform: rotateY(0deg) rotateX(0deg);
  } 
  
  .faca-mais .faca-mais-img img {
    width: 100%;
  }


  .faca-mais-segunda-parte .container{
    display: flex;
    align-items: center;
  }



  .faca-mais-segunda-parte {
    color: rgb(255, 255, 255);
    padding: 170px;
    background: linear-gradient(to top, rgb(0, 0, 0) 18%, rgb(255, 255, 255) 100%);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .faca-mais-segunda-parte .faca-mais-text {
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais-segunda-parte .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
    color: black;
  }
  
  .faca-mais-segunda-parte .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    text-align: justify;
    font-family: 'BR Segma', sans-serif;
    color: #ffffff;
  
  } 
  
  .faca-mais-segunda-parte .faca-mais-img {
    width: 50%;
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.8);
    transform: rotateY(-15deg) rotateX(10deg);
     transition: transform 0.3s;
  }

  .faca-mais-segunda-parte .faca-mais-img:hover{
    transform: rotateY(0deg) rotateX(0deg);
  }
  
 .faca-mais-segunda-parte .faca-mais-img img {
    width: 100%;
  }
  
  

  /* Parte preta */

  .faca-mais2 .container {
    display: flex;
    align-items: center;
  }
  
  .faca-mais2 {
    color: rgb(255, 255, 255);
    padding: 170px;
    background-color: black;
  }


  .faca-mais2 .faca-mais-text {
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais2 .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
  }
  
  .faca-mais2 .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    color: white;
    text-align: justify;
    word-spacing: 1px;
    font-family: 'BR Segma', sans-serif;
  
  } 
  
  .faca-mais2 .faca-mais-img {
    width: 50%;
    margin-top: 100px;
  }
  
  .faca-mais2 .faca-mais-img img {
    width: 100%;
    margin-top: 100px;
  }

  .faca-mais2 .container {
    display: flex;
    align-items: center;
  }
  
  .faca-mais2 {
    color: rgb(255, 255, 255);
    padding: 170px;
    background-color: black;
  }


  .faca-mais2 .faca-mais-text {
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais2 .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
  }
  
  .faca-mais2 .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    color: white;
    text-align: justify;
    word-spacing: 1px;
    font-family: 'BR Segma', sans-serif;
  
  } 
  
  .faca-mais2 .faca-mais-img {
    width: 50%;
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.8);
    transform: rotateY(-15deg) rotateX(10deg);
     transition: transform 0.3s;
  }

  .faca-mais2 .faca-mais-img:hover{
    transform: rotateY(0deg) rotateX(0deg);
  }
  
  .faca-mais2 .faca-mais-img img {
    width: 100%;
    margin-top: 100px;
  }

/* Fim da parte 2 */

  .faca-mais3 .container3{
    display: flex;
    align-items: center;
  }
  
  .faca-mais3 {
    color: rgb(255, 255, 255);
    padding: 170px;
    background-color: black;
  }


  .faca-mais3 .faca-mais-text3{
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais3 .faca-mais-text3 h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
  }
  
  .faca-mais3 .faca-mais-text3 p {
    margin: 30px 10px 30px 10px;
    color: white;
    text-align: justify;
    word-spacing: 1px;
    font-family: 'BR Segma', sans-serif;
  
  } 
  
  .faca-mais3 .faca-mais-img3 {
    width: 50%;
    margin-top: 30px;
    
  }
  
  .faca-mais3 .faca-mais-img3 img {
    width: 100%;
    margin-top: 80px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.8);
    transform: rotateY(15deg) rotateX(10deg);
     transition: transform 0.3s;
  }

  .faca-mais3 .faca-mais-img3 img:hover{
    transform: rotateY(0deg) rotateX(0deg);
  
  }

  .faca-mais3 .container3 {
    display: flex;
    align-items: center;
  }
  
  .faca-mais3 {
    color: rgb(255, 255, 255);
    padding: 170px;
    background-color: black;
  }

/* Fim da ultima parte */

  .faca-mais-ultimo .container{
    display: flex;
    align-items: center;
  }

  .faca-mais-ultimo {
    color: rgb(255, 255, 255);
    padding: 170px;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 18%, rgb(255, 255, 255) 100%);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .faca-mais-ultimo .faca-mais-text {
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais-ultimo .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
    color: black;
  }
  
  .faca-mais-ultimo .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    text-align: justify;
    font-family: 'BR Segma', sans-serif;
    color: #ffffff;
  
  } 
  
  .faca-mais-ultimo .faca-mais-img {
    width: 50%;
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.8);
    transform: rotateY(-15deg) rotateX(10deg);
     transition: transform 0.3s;
  }

  .faca-mais-ultimo .faca-mais-img:hover{
    transform: rotateY(0deg) rotateX(0deg);
  }
  
 .faca-mais-ultimo .faca-mais-img img {
    width: 100%;
  }
  
  

  


  .final {
    background-color: white;
    /* margin-top: 90px; */
  }
  
  .footer img {
    width: 110px;
    height: 140px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    /* margin-bottom: 3.2rem; */
  }
  
  .footer .col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Paytone One", sans-serif;
  }
  
  .footer .col2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Paytone One", sans-serif;
  }
  
  .footer .col :first-child {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .footer .col a:hover {
    opacity: 1;
    color: black;
    cursor: pointer;
  }
  
  .footer .col a:hover svg path {
    stroke-opacity: 1;
    color: black;
    cursor: pointer;
  }
  
  .footer .col .social-media {
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
  
  }


  /* .faca-mais3 .faca-mais-text3 {
    width: 50%;
    padding: 0 40px;
  
  }
  
  .faca-mais3 .faca-mais-text h3 {
    font-size: 56px;
    font-family: 'Urban Graffiti PERSONAL USE ONL';
  }
  
  .faca-mais3 .faca-mais-text p {
    margin: 30px 10px 30px 10px;
    color: white;
    text-align: justify;
    word-spacing: 1px;
    font-family: 'BR Segma', sans-serif;
  
  } 
  
  .faca-mais3 .faca-mais-img {
    width: 50%;
    margin-top: 120px;
  }
  
  .faca-mais3 .faca-mais-img img {
    width: 100%;
    margin-top: 120px;
  }
  
  
  
   */