@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #000;
}

body{
    height: 100vh;
}

header {
    display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 1.2em;
        width: 50%;
        padding: 30px;
        margin: 30px 10px;
        border-radius: 50px;
        margin-left: 450px;
        color: rgb(250, 250, 250);
        background-color: black;
  }

  .logo {
    width: 60px;
    height: 70px;
    margin-right: 20px;
}

.player, .time {
    margin: 0 10px;
}

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%; 
    box-shadow: 3px 0 0 #695e67;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-left: 1px;
}

.btn-expandir > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    transition: .4s;
}

ul li.ativo{
    background-color: transparent;
}

ul li.item-menu a:hover{
    background-color: #6b6069;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    margin-left: 6px;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 1;
}

 ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;

}  

.Dashboard{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 900px;
    /* padding: 100px; */
    /* margin-bottom: 2000px; */
    padding-bottom: 250px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 25px rgb(234, 9, 9);
    /* margin-left: 100px; */
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adiciona um gap de 10px entre os elementos filhos */
}
/* 
.container-estatistica .card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(255, 0, 0);
    flex: 1;
    max-width: 400px;
    width: 100%;
}

.card-estatística h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #ffffff;
}

.card-estatística p {
    font-size: 1.2em;
    color: #ffffff;
}
 */
